.spinner__inner {
  height: 100%;
  width: 100%;
  background-color: #002147;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .6;
}

.spinner {
  z-index: 20;
  position: absolute;
  top: 45%;
  left: 38%;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid #eee;
  border-left-color: #007bff;
  animation: spin 1.4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* reset styles */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.wrapper {
  width: 400px;
  height: 650px;
}

.app {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  padding: 20px 0;
}

.app-header {
  padding: 10px 40px;
  margin-bottom: 20px;
}

.header-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  position: relative;
}

.header-menu__icon {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 3px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.header-data {
  font-size: 16px;
  color: #ffffff;
}

.header-temp {
  font-size: 18px;
  color: #ffffff;
}

.main {
  color: #ffffff;
  padding: 0 40px;
}

.main-city {
  font-size: 18px;
  font-weight: 300;
  padding: 0 0 20px 0;
}

.main-temp {
  font-size: 86px;
  font-weight: 500;
  padding: 0 0 0 0;
}

.main-desc {
  font-size: 16px;
  font-weight: 500;
  padding: 0 0 30px 0;
}

.main-temp-max {
  font-size: 16px;
  font-weight: 300;
  padding: 0 0 10px 0;
}

.hr {
  width: 100%;
  height: 1px;
  opacity: .2;
  background-color: #fff;
}

.weather-today {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.weather-hours {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-hours span {
  opacity: .8;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  padding: 0 0 10px 0;
}

.weather-hours strong {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}

.weather-day-block {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
}

.day-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.day-week {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.day-temp-max {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}
